src/main/resources/modelling/Check for new application.json
{
    "name": "Check for new Application",
    "flow": [
        {
            "id": 15,
            "module": "google-forms:watchRows",
            "version": 2,
            "parameters": {
                "limit": 10,
                "sheetId": "Formularantworten 1",
                "__IMTCONN__": 2400391,
                "spreadsheetId": "1qHtj-kbfL2I9IYNxCtEO8nN0kR_HwD1CTtPzAsEmCKY",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": "true",
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1216,
                    "y": -210
                },
                "restore": {
                    "sheetId": {
                        "mode": "chose",
                        "label": "Formularantworten 1"
                    },
                    "__IMTCONN__": {
                        "label": "Google Form (insurance.vitae@gmail.com)"
                    },
                    "spreadsheetId": {
                        "mode": "chose",
                        "label": "Application for Insurance Vitae (Antworten)"
                    },
                    "valueRenderOption": {
                        "mode": "chose",
                        "label": "Formatted value"
                    },
                    "dateTimeRenderOption": {
                        "mode": "chose",
                        "label": "Formatted string"
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "hidden",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Zeitstempel (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "First name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Last name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "E-Mail (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Gender (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Date of birth (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Height in[cm] (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Weight in [kg] (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Smoker (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Diabetes (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Cancer (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://www.uuidgenerator.net/api/version4 ",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": -937,
                    "y": -204
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "GET"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 35451
            },
            "mapper": {
                "key": "",
                "data": {
                    "email": "{{15.`3`}}",
                    "cancer": "{{15.`10`}}",
                    "gender": "{{15.`4`}}",
                    "height": "{{15.`6`}}",
                    "reason": "",
                    "smoker": "{{15.`8`}}",
                    "weight": "{{15.`7`}}",
                    "birthday": "{{15.`5`}}",
                    "decision": "",
                    "diabetes": "{{15.`9`}}",
                    "lastname": "{{15.`2`}}",
                    "firstname": "{{15.`1`}}",
                    "businessKey": "{{16.data}}",
                    "decisiontype": ""
                },
                "overwrite": false
            },
            "metadata": {
                "designer": {
                    "x": -674,
                    "y": -206
                },
                "restore": {
                    "datastore": {
                        "label": "Customer"
                    },
                    "overwrite": {
                        "mode": "chose"
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "firstname",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "lastname",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "email",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "height",
                                "type": "number"
                            },
                            {
                                "name": "weight",
                                "type": "number"
                            },
                            {
                                "name": "smoker",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "diabetes",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "cancer",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "decision",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "decisiontype",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "reason",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "birthday",
                                "type": "date"
                            },
                            {
                                "name": "gender",
                                "type": "text",
                                "multiline": false
                            },
                            {
                                "name": "businessKey",
                                "type": "text",
                                "multiline": false
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 156228,
                "space": ""
            },
            "mapper": {
                "variables": {
                    "email": {
                        "type": "String",
                        "value": "{{15.`3`}}"
                    },
                    "cancer": {
                        "type": "String",
                        "value": "{{15.`10`}}"
                    },
                    "gender": {
                        "type": "String",
                        "value": "{{15.`4`}}"
                    },
                    "height": {
                        "type": "Long",
                        "value": "{{15.`6`}}"
                    },
                    "smoker": {
                        "type": "String",
                        "value": "{{15.`8`}}"
                    },
                    "weight": {
                        "type": "Long",
                        "value": "{{15.`7`}}"
                    },
                    "diabetes": {
                        "type": "String",
                        "value": "{{15.`9`}}"
                    },
                    "lastname": {
                        "type": "String",
                        "value": "{{15.`2`}}"
                    },
                    "firstname": {
                        "type": "String",
                        "value": "{{15.`1`}}"
                    },
                    "customerID": {
                        "type": "String",
                        "value": "{{6.key}}"
                    },
                    "birthdatejson": {
                        "type": "String",
                        "value": "{{parseDate(15.`5`; )}}"
                    },
                    "birthdatestring": {
                        "type": "String",
                        "value": "{{15.`5`}}"
                    }
                },
                "businessKey": "{{16.data}}"
            },
            "metadata": {
                "designer": {
                    "x": -406,
                    "y": -205
                },
                "restore": {
                    "type": {
                        "label": "StartProcess"
                    },
                    "space": {
                        "label": ""
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "businessKey",
                        "type": "text"
                    },
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "email",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "email"
                            },
                            {
                                "name": "cancer",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "cancer"
                            },
                            {
                                "name": "gender",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "gender"
                            },
                            {
                                "name": "height",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "number"
                                    }
                                ],
                                "type": "collection",
                                "label": "height"
                            },
                            {
                                "name": "smoker",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "smoker"
                            },
                            {
                                "name": "weight",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "number"
                                    }
                                ],
                                "type": "collection",
                                "label": "weight"
                            },
                            {
                                "name": "diabetes",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "diabetes"
                            },
                            {
                                "name": "lastname",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "lastname"
                            },
                            {
                                "name": "firstname",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "firstname"
                            },
                            {
                                "name": "customerID",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "customerID"
                            },
                            {
                                "name": "birthdatejson",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text",
                                        "multiline": false
                                    }
                                ],
                                "type": "collection",
                                "label": "birthdatejson"
                            },
                            {
                                "name": "birthdatestring",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "value",
                                        "type": "text"
                                    }
                                ],
                                "type": "collection",
                                "label": "birthdatestring"
                            }
                        ],
                        "type": "collection",
                        "label": "variables"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://digibp-teamtirggel.herokuapp.com/engine-rest/process-definition/key/Process_tobe_GF_INT/start",
                "data": "{{5.json}}",
                "gzip": true,
                "method": "post",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": -136,
                    "y": -207
                },
                "restore": {
                    "qs": {
                        "mode": "chose",
                        "items": []
                    },
                    "method": {
                        "mode": "chose",
                        "label": "POST"
                    },
                    "headers": {
                        "mode": "chose",
                        "items": []
                    },
                    "bodyType": {
                        "label": "Raw"
                    },
                    "contentType": {
                        "label": "JSON (application/json)"
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers",
                        "labels": {
                            "add": "Add a header",
                            "edit": "Edit a header"
                        }
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String",
                        "labels": {
                            "add": "Add parameter",
                            "edit": "Edit parameter"
                        }
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate",
                        "multiline": true
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "shatter": false,
            "maxErrors": 3,
            "autoCommit": false,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.integromat.com"
    }
}